pnad_trimestral_trimestre_042024.parquet
Apresentação PNADC.pdf
Corresp_var_SNIPC_PNADC.doc
dicionario_PNADC_microdados_trimestral.xls
PorDentrodaPNADContinua_Trovão_SilvaJúnior_2022.pdf
Variaveis_PNADC_Trimestral.xls